$dark-colour: #00F;
$bright-colour: #F00;
//for breakpoints
$small: 720px;

@mixin cardStyle($font-color, $background) {
  color: $font-color;
  background-color: $background;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.container {
  margin-bottom: 40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col {
  @media screen and (min-width: $small)   {
    width: 33%;
  }
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  @include cardStyle($dark-colour, $bright-colour);
}

.stuffgrid {
    @media screen and (min-width: $small) {
        display: grid;
        grid-template-areas: "stuff1 stuff2" "stuff3 stuff4";
    }
    @media screen and (min-width: 0px) and (max-width: $small) {
        display: flex;
        flex-direction: column;
    }
    align-items: center;
    justify-items: center;
    margin: 1rem;
    gap: 1rem;
}

.stuff1 { grid-area: "stuff1" }
.stuff2 { grid-area: "stuff2" }
.stuff3 { grid-area: "stuff3" }
.stuff4 { grid-area: "stuff4" }
