:root{
    --mainBG: #303030;
    --mainText: #f0f0f0;
    --transBG: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

@font-face{
    font-family: NewGLitch;
    src: url('../fonts/NewGlitch.ttf');
}

h1 {
    font-family: NewGlitch !important;
    font-size: 6rem !important;
    text-shadow: -4px 4px 0 rgba(255, 0, 0, .75), 4px -4px 0 rgba(0, 255, 255, .75) !important;
}
h2 {
    font-family: NewGlitch !important;
    font-size: 4rem !important;
    text-shadow: -2px 2px 0 rgba(255, 0, 0, .75), 2px -2px 0 rgba(0, 255, 255, .75) !important;
}
h3 {
    font-family: NewGlitch !important;
    font-size: 2rem !important;
    text-shadow: -1px 1px 0 rgba(255, 0, 0, .75), 1px -1px 0 rgba(0, 255, 255, .75) !important;
}
h4 {
    font-size: 2rem !important;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .75) !important;
}
i {
    text-shadow: 0 0 0 rgba(255, 0, 0, .75), 0 0 0 rgba(0, 255, 255, .75);
            animation: detail 2s 4s infinite;
       -moz-animation: detail 2s 4s infinite;
    -webkit-animation: detail 2s 4s infinite;
         -o-animation: detail 2s 4s infinite;
}
/* Animation Keyframes*/
@keyframes detail {
    0% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
    50% { text-shadow: 0 0 0 rgba(255, 0, 0, .75), 0 0 0 rgba(0, 255, 255, .75); }
    100% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
}

@-moz-keyframes detail {
    0% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
    50% { text-shadow: 0 0 0 rgba(255, 0, 0, .75), 0 0 0 rgba(0, 255, 255, .75); }
    A100% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
}

@-webkit-keyframes detail {
    0% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
    50% { text-shadow: 0 0 0 rgba(255, 0, 0, .75), 0 0 0 rgba(0, 255, 255, .75); }
    100% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
}

@-o-keyframes detail {
    0% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
    50% { text-shadow: 0 0 0 rgba(255, 0, 0, .75), 0 0 0 rgba(0, 255, 255, .75); }
    100% { text-shadow: -3px 3px 0 rgba(255, 0, 0, .75), 3px -3px 0 rgba(0, 255, 255, .75); }
}

body {
    background-color: var(--mainBG) !important;
    color: var(--mainText) !important;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav {
    width: 4rem;
    height: 100%;
    margin-top: 0;
    position: fixed;
    background: var(--transBG);
    transition: 200ms;
    z-index: 2;
    white-space: nowrap;
    text-overflow: unset;
    overflow-x: hidden;
    backdrop-filter: blur(8px);
}
nav:hover{
    width: 16rem;
}
.navbarNav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navbarItem{
    width: 100%;
}
.navbarLink{
    display: flex;
    align-items: center;
    height: 4rem;
    color: #3BBEFF;
    text-decoration: none;
    transition: 200ms;
}
.linkText{
    margin-top: 1rem;
    margin-left: 2rem;
}
.navbarLink span{
    min-width: 64px;
    margin-left: .5rem;
}
.navbarLink p{
    margin-left: 1rem;
}
.navbarLink:hover{
    filter: brightness(2);
    background-color: #333;
}
.navbaricon {
  block-size: 3rem;
  display: inline-block;
  fill: var(--baseColor);
  inline-size: 3rem;
  vertical-align: middle;
}
.carousel {
    height: 20rem;
    width: 100%;
    overflow: hidden;
}
.carousel-img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4rem;
}
footer {
    color: var(--mainText) !important;
    margin-left: 4rem !important;
    background-color: var(--transBG) !important;
}
.footerLogo {
    margin-top: auto;
    margin-left: 2rem;
}
.footerDetails {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.mapouter{
    position:relative;
    text-align:right;
    width:400px;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:400px;
    height:400px;
}
.gmap_iframe {
    width:400px!important;
    height:400px!important;
}
a {
    text-decoration: none !important;
    color: var(--mainText) !important;
    transition: 0.3s ease-in-out !important;
}

a:focus,
a:hover {
    text-decoration: underline;
    text-shadow: -2px 2px 0 rgba(255, 0, 0, .75), 2px -2px 0 rgba(0, 255, 255, .75);
}
.width100 { width: 100% }
.width50 { width: 50% }
.height50 { height: 50% }
.marginLeft { margin-left: 3rem }
.padding1rem { padding: 1rem }
.padding2rem { padding: 2rem }
.padding4rem { padding: 4rem }
.content { margin-bottom: 2rem; }
.round { border-radius: 50%; }
.round1rem { border-radius: 1rem; }
.inline { display: inline; }
.boxShadow { box-shadow: 8px 8px 4px rgba(0, 0, 0, .75); }
.flexcolumn { display: flex; flex-direction: column; }
.flexrow { display: flex; }
.alignitemcenter { align-items: center}
.justifyitemcenter { justify-items: center}
.justifycontentcenter { justify-content: center}
.alignitemright { align-items: right}
.aligntextleft { text-align: left }
.aligntextcenter { text-align: center }
.marginleftauto{ margin-left: auto }
.marginrightauto{ margin-right: auto }
.transBG { background-color: var(--transBG) !important; }
.BG0 { background-color: rgba(0,0,0,0) !important; }
.rotate180 { transform: rotate(180deg); }
.white { color: var(--mainText) !important; }
.modal-backdrop {
  z-index: -1 !important;
}