:root{
    --mainBG: #303030;
    --mainText: #f0f0f0;
    --transBG: rgba(10, 10, 10, 0.7);
    
    --color1: #F75F1C;
    --color2: #222;
    --color3: #902EBB;
    --colorbg1: #DB3103;
    --colorbg2: #0a0a0a;
    --colorbg3: #781E94;
    font-size: 20px;
}

.whoare {
    background-color: var(--cologbg1);
            animation: 8s infinite whoarewe;
       -moz-animation: 8s infinite whoarewe;
    -webkit-animation: 8s infinite whoarewe;
         -o-animation: 8s infinite whoarewe;
}
/* Animation Keyframes*/
@keyframes whoarewe {
    0% { background-color: var(--colorbg1); }
    10% { background-color: var(--colorbg1); }
    20% { background-color: var(--colorbg2); }
    30% { background-color: var(--colorbg2); }
    40% { background-color: var(--colorbg3); }
    60% { background-color: var(--colorbg3); }
    70% { background-color: var(--colorbg2); }
    80% { background-color: var(--colorbg2); }
    90% { background-color: var(--colorbg1); }
    100% { background-color: var(--colorbg1); }
}

@-moz-keyframes whoarewe {
    0% { background-color: var(--colorbg1); }
    10% { background-color: var(--colorbg1); }
    20% { background-color: var(--colorbg2); }
    30% { background-color: var(--colorbg2); }
    40% { background-color: var(--colorbg3); }
    60% { background-color: var(--colorbg3); }
    70% { background-color: var(--colorbg2); }
    80% { background-color: var(--colorbg2); }
    90% { background-color: var(--colorbg1); }
    A100% { background-color: var(--colorbg1); }
}

@-webkit-keyframes whoarewe {
    0% { background-color: var(--colorbg1); }
    10% { background-color: var(--colorbg1); }
    20% { background-color: var(--colorbg2); }
    30% { background-color: var(--colorbg2); }
    40% { background-color: var(--colorbg3); }
    60% { background-color: var(--colorbg3); }
    70% { background-color: var(--colorbg2); }
    80% { background-color: var(--colorbg2); }
    90% { background-color: var(--colorbg1); }
    100% { background-color: var(--colorbg1); }
}

@-o-keyframes whoarewe {
    0% { background-color: var(--colorbg1); }
    10% { background-color: var(--colorbg1); }
    20% { background-color: var(--colorbg2); }
    30% { background-color: var(--colorbg2); }
    40% { background-color: var(--colorbg3); }
    60% { background-color: var(--colorbg3); }
    70% { background-color: var(--colorbg2); }
    80% { background-color: var(--colorbg2); }
    90% { background-color: var(--colorbg1); }
    100% { background-color: var(--colorbg1); }
}

.animation {
    height: 5rem;
    width: 100%;
    overflow:hidden;
}

.animation > div > div {
    padding: 1rem 0rem;
    height: 5rem;
    width: 100%;
    margin-bottom: 3.5rem;
    display:inline-block;
}

.animation div:first-child {
            animation: text-animation 8s infinite;
       -moz-animation: text-animation 8s infinite;
    -webkit-animation: text-animation 8s infinite;
         -o-animation: text-animation 8s infinite;
}

.first div {
    background-color: var(--color1);
}
.second div {
    background-color: var(--color2);
}
.third div {
    background-color: var(--color3);
}

@keyframes text-animation {
    0% {margin-top: -.7rem;}
    10% {margin-top: -.7rem;}
    20% {margin-top: -4.75rem;}
    30% {margin-top: -4.75rem;}
    40% {margin-top: -11.8rem;}
    60% {margin-top: -11.8rem;}
    70% {margin-top: -4.75rem;}
    80% {margin-top: -4.75rem;}
    90% {margin-top: -.7rem;}
    100% {margin-top: -.7rem;}
}

@-moz-keyframes text-animation {
    0% {margin-top: -.7rem;}
    10% {margin-top: -.7rem;}
    20% {margin-top: -4.75rem;}
    30% {margin-top: -4.75rem;}
    40% {margin-top: -11.8rem;}
    60% {margin-top: -11.8rem;}
    70% {margin-top: -4.75rem;}
    80% {margin-top: -4.75rem;}
    90% {margin-top: -.7rem;}
    A100% {margin-top: -.7rem;}
}

@-webkit-keyframes text-animation {
    0% {margin-top: -.7rem;}
    10% {margin-top: -.7rem;}
    20% {margin-top: -4.75rem;}
    30% {margin-top: -4.75rem;}
    40% {margin-top: -11.8rem;}
    60% {margin-top: -11.8rem;}
    70% {margin-top: -4.75rem;}
    80% {margin-top: -4.75rem;}
    90% {margin-top: -.7rem;}
    100% {margin-top: -.7rem;}
}

@-o-keyframes text-animation {
    0% {margin-top: -.7rem;}
    10% {margin-top: -.7rem;}
    20% {margin-top: -4.75rem;}
    30% {margin-top: -4.75rem;}
    40% {margin-top: -11.8rem;}
    60% {margin-top: -11.8rem;}
    70% {margin-top: -4.75rem;}
    80% {margin-top: -4.75rem;}
    90% {margin-top: -.7rem;}
    100% {margin-top: -.7rem;}
}

.subTitle {
    position: relative;
    background-color: var(--transBG);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 3rem;
    bottom: 7rem;
    margin-bottom: -6rem;
}
.img {
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
}
.splash {
    background-image: linear-gradient(var(--mainBG), rgba(0, 0, 0, .5) 80%, var(--mainBG)), url("https://i.imgur.com/IwHRrbF.jpg");
    background-size: 100%;
}