:root{
    --mainBG: #303030;
    --mainText: #f0f0f0;
    --transBG: rgba(10, 10, 10, 0.7);
    font-size: 20px;
}

.maingrid {
    display: grid;
    grid-template-areas: "visualdisplay visualdisplay visualdisplay" "articletitle articletitle articletitle" "article article article";
    align-items: center;
    justify-items: center;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.visualdisplay: {
    grid-area: visualdisplay;
}

.articletitle: {
    grid-area: articletitle;
}
.article: {
    grid-area: article;
}
.newsgrid {
    display: grid;
    grid-template-areas: "newsimage newstitle" "newsimage newsarticle";
    align-items: center;
    justify-items: center;
    height: 24rem;
    background-color: var(--transBG);
}
.newsimage {
    grid-area: newsimage;
    margin-left: 2rem;
    height: 20rem;
    width: 20rem;
}
.newstitle {
    grid-area: newstitle;
    padding: 2rem;
}
.newsarticle {
    grid-area: newsarticle;
    padding: 2rem;
}

.option {
    padding: .25rem 0rem .25rem 2rem;
    border-radius: .5rem;
    transition: .3s;
}
/*
.card {
    padding: .25rem;
    border-radius: .5rem;
    transition: .3s;
}
.card:focus,
.card:hover {
    background-color: var(--transBG);
}
*/